plugins/opsqlite-spatialite/spatialite-libs/
.cache/spatialite-downloads/
android/app/src/main/jniLibs/

.secrets/
google-services*.json
GoogleService-Info.plist

# @generated expo-cli sync-2b81b286409207a5da26e14c78851eb30d8ccbdb
expo-env.d.ts
# @end expo-cli
